body {
    color :#756a55
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
}

header {
    background-color: #624cd0;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    margin: 10px;
}
.profilepic
{
    float: right;
    text-align: center;
    padding-top: 40px;
    padding-right: 20px;

}

.profilepic img{
    border-radius: 30%;
    magrin:0 auto;
    display: block;
}
.profilepic h2{
    color: #000000;
    margin-top: 10px;
}

.profileinfo{
    background-color: #f0e6d2;
    padding: 10px;
    margin: 10px;
    display: block;
}
.profileinfo p {
    text-align: left;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    
}
.profileinfo h2 {
    display: inline-block;
    color: #ffffff;
    background-color: #ffb01e;
    margin: 10px;
    padding-right: 5px;
}
.biography {
    background-color: #f0e6d2;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}
.biography h2 {
    text-align: center;
    color: #ffffff;
    background-color: #ffb01e;
    margin: 10px;
    display: block;
}